{
    "tokens": [
            "token1",
            "token2"
    ],
    "autoprovision": [
        {
            "app_id": "sandbox:app",
            "cert": "certs/development-app.pem",
            "environment": "sandbox",
            "timeout": 15
        },
        {
            "app_id": "production:app",
            "cert": "certs/production-app.pem",
            "environment": "production",
            "timeout": 15
        }
    ]
}
